.container{
    height:100%;
    width:100%;

}
.container .form-font .btn{
    color: black;
}
.nav li{
    display: inline;
    position: relative;
    float:left;
    left:60%;
    margin:0px;
    bottom:50px;
}
.nav li a{
    display: block;
    padding: 8px;
    background-color: #ffffff;
    font-size: 13px;
    text-transform: uppercase;
    color:black;
    font-weight: bold;
    font-family: Roboto, sans-serif;

}
#dropnav li{
    display:none;
    
}
#head{
    font-size: 17px;
    font-weight:700px;
    background-color: black;
    color:white;
    text-align: center;
    margin:0px;   
    padding:10px 30px;
    
}
.btn-primary{
    color:white;
    background-color:#43bd37;
    width: 25%;
    height:50px;
    border:0px solid white;
    border-radius: 0px;
    font-family:Roboto, sans-serif;
    font-style: normal;
}
.stretched-link{
    font-size: 17px;
}
.form-font {
    text-align: center;
}

#logo img{
    position: relative;
    width:100px;
    height:100px;
    left:10px;
}
body form{
    text-align: center;
    position:relative;
    top:100px;
}
body form h2{
    text-align: center;
    position:relative;
    margin:auto 0px auto 0;
    font-family: Quicksand,sans-serif;
}

hr.hrline{
    width:60px; 
    border: 0.5px solid black;    
}
form-group .form-email{
    border:1px solid black;
}
.input-lg{
    border-radius: 0px;
    width: 25%;
}
/*foooter*/

.grid-column{
    float:left;
    bottom:0px;
    position:relative;
    margin: 20px auto 20px auto;
    padding:auto 10px auto 10px auto;
    left:60%;

    
}